<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus auctor rutrum neque eu pharetra. Nam ac dui maximus massa consequat faucibus. Vivamus consequat porttitor erat, tempus congue purus sollicitudin quis.</p>

<%- include("footer") -%>
